data_engineering.code-workspace
python/__pycache__/
weekly\ challenge/week1/config.py
/python/week1/day1/config.py
/python/week1/day3/config.py
/python/week1/day3/__pycache__
/python/week1/day2/__pycache__
/python/week1/day1/__pycache__
/python/week1/day0/__pycache__
/python/week0/__pycache__
/python/week1/day4/raw_data
/python/week1/day4/clean_data
/python/week1/day4/sandbox